@import "tailwindcss";
/* input.css */
@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: cairo;
}

/* h1 ,h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

.btn {
    padding: 5px 10px;
    background-color: brown;
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: 0.3S;
}

.btn:hover {
    /* الاضاءة */
    filter: brightness(90%);
}